body {
  background: rgb(137, 210, 255);
  background: linear-gradient(
    90deg,
    rgba(137, 210, 255, 1) 0%,
    rgba(214, 245, 255, 1) 100%
  );
}
.card {
  height: 600px;
  max-width: 500px;
  width: 100%;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 5px 10px 8px #888888;
  border: none;
}
.card-img {
  height: 300px;
  text-align: center;
}
.card-img2 {
  height: 300px;
  text-align: center;
}
.card .card-title {
  text-align: center;
  border: none;
}
.card .card-header .card-title {
}
.card .card-footer {
  text-align: center;
}
.card .card-footer button {
  border-radius: 15px;
  width: 100%;
  font-size: 20px;
  padding: 10px;
  border: none;
}
.card .card-footer button:hover {
  transform: scale(1.1);
  background: rgb(8, 174, 224);
  background: linear-gradient(
    90deg,
    rgba(8, 174, 224, 1) 0%,
    rgba(42, 193, 230, 1) 100%
  );
}

.card-header {
  background-color: #fff;
  border: none;
}
.card-footer {
  background-color: #fff;
  border: none;
}

.container .content {
  margin-bottom: 20px;
}
.container .content button {
  border: none;
  height:100px;
}
.container .content button:hover {
  transform: scale(1.1);

  background: rgb(42, 199, 3);
  background: linear-gradient(
    90deg,
    rgba(42, 199, 3, 1) 0%,
    rgba(70, 219, 68, 1) 100%
  );
}
.card4 {
  
  max-width: 800px;
  width: 100%;
  border-radius: 20px;
  padding: 10px;
  background-color: #fff;
  border: none;
  margin: 10px;
  margin-right: 20px;
  text-align: center;
  box-shadow: 5px 10px 8px #888888;
}
.card4 .card-header{
  font-size: 20px;
}
.card4 .card4-body input[type="text"]{
  
  background-color: #fff;
  margin-right: 10px;
  padding: 20px;
  font-size: 24px;
  text-align: center;
  border-radius: 30px;
  
}