body {
  background: rgb(137, 210, 255);
  background: linear-gradient(
    90deg,
    rgba(137, 210, 255, 1) 0%,
    rgba(214, 245, 255, 1) 100%
  );
}
.content {
  max-width: 1500px;
  width: 100%;
  text-align: center;
  margin: 20px;
}
.content .table {
margin: 20px;
  width: 900px;
  width: 100%;
}
.content .table-responsive{
    height: 100%;
    margin: 30px;
}

.container .content{
  background-color: #fff;
  margin: 20px;
  border-radius: 20px;
}

.container .content button{
  padding: 10px;
  margin: 10px;
}